* {
    background-color: #DF362D;
}

hr {
    border-color: #FF4500;
}

.parent {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.div1 {
    grid-area: 1 / 1 / 2 / 2;
}

.div2 {
    grid-area: 1 / 2 / 2 / 3;
}

.div3 {
    grid-area: 1 / 3 / 2 / 4;
}

h1, h3 {
    text-align: center;
}

.enter {
    padding-top: 1em;
    padding-bottom: 1em;
    margin: auto;
    width: 20%;
}

.enter a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    background-color: #FF4500;
    padding: 10px 24px;
    border-radius: 4px;
    margin-right: 10px;
    border: 2px solid black;
}

a:hover {
    background-color: #FF8300;
}

a:visited {
    text-decoration: none;
    color: black;
}

#youtube {
    padding: 20px;
    align-content: center;
    margin: auto;
    width: 600px;
}
