

@{
    ViewData["Title"] = "Latin Dance Blog";
}

<head>
    <link rel="stylesheet" href="~/Home/Index.css" />
</head>

<section class="parent">
    <div class="div1"></div>
    <div class="div2">
        <h1>Welcome to The Latin Dance Blog</h1>
        <hr/>
        <h2>Bienvenido!</h2>
        
        <a href="/Content/Index">View All Blog Entries</a>
        
        <div>
            <iframe id="youtube" width="560" height="315" src="https://www.youtube.com/embed/DIgFUComRK8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen; autoplay="true"> </iframe>
        </div>

    </div>
    <div class="div3"></div>


</section>

