

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1>Welcome to The Latin Dance Blog</h1>
    <hr />
    <h2>Options</h2>
    <ul>
        <li><a href = "/Content/Index">View All Blog Entries</a></li>
    </ul>

</div>

