@model IEnumerable<BlogPlatform.Models.Content>

@{}

@{
    ViewData["Title"] = "Latin Dance Blog";
}

<head>
    <link rel="stylesheet" href="~/Content/Index.css" />
</head>

<section class="parent">
    <div class="div1"></div>

    <div class="div2">
        <h1>Latin Dance Blog - Index</h1>

        <section class="CreateButton">
            <a href="/Content/AddContent">Create New Blog Entry</a>
        </section>
        <dl id="List">

            <h2>Dance Steps</h2>
            @foreach (var content in Model)
                @if (content.CategoryId == 1)
                {
                    <dd>
                        <a href="/Content/Details/@content.Id">@content.Title</a>
                        @*<a href="/Content/DeleteContent/@content.Id">Delete</a>*@
                        <hr />
                    </dd>
                }

                <h2>Music</h2>
                @foreach (var content in Model)
                    @if (content.CategoryId == 2)
                    {
                        <dd>
                            <a href="/Content/Details/@content.Id">@content.Title</a>
                            @*<a href="/Content/DeleteContent/@content.Id">Delete</a>*@
                            <hr />
                        </dd>
                    }

                <h2>Social Dancing</h2>
                @foreach (var content in Model)
                    @if (content.CategoryId == 3)
                    {
                        <dd>
                            <a href="/Content/Details/@content.Id">@content.Title</a>
                            @*<a href="/Content/DeleteContent/@content.Id">Delete</a>*@
                            <hr />
                        </dd>
                    }

                    </dl>

        <section class="BackButton">
            <a href="/Home/Index">Back to Home Page</a>
        </section>


    </div>
    <div class="div3"></div>

</section>



